<div id="poison">
  <h1 id="posionheader">Pick Your Poison</h1>
</div>
<div class="poisonbody" class="content-body">
  <div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="search-bar" type="text" class="form-control" placeholder="Hey Bartender">
      </div>
    </form>
  </div>
  <div class="container">
    <%= render "items" %>
  </div>
</div>
<%= paginate @cocktails %>


<script>
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('#poison').css('top', -(scrolled * 0.4) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });
</script>
