<div id="show_header">
  <div id="cocktail_profile">
    <%= image_tag @cocktail.image.url(:large) %>
    <div id="cocktail_description">
      <p id="cock_p" class="homep" style="margin-top: 15px">"<%= @cocktail.desrciption %>"</p>
    </div>
  </div>
</div>
<div id="cocktail_info">
  <div id="needed">

  </div>
  <div id="cocktail_instructions">

  </div>
</div>
